.feature-iten {

		@mixin atSmall {
		padding-left: 94px;
		position: relative;
		padding-bottom: 2.5rem;
		}

	&__icon {
	display: block;
	margin: 0 auto;
		@mixin atSmall {
		position: absolute;
		left: 0;
		}
	}

	&__title {
	font-size: 1.6rem;
	font-weight: 300;
	margin-bottom: .8rem;
	text-align: center;
	margin-top: .8rem;
		@mixin atSmall {
		font-size: 1.875rem;
		text-align: left;
		margin-top: 1rem;
		}
	}

}