.large-hero {
	position: relative;
	border-bottom: 10px solid $mainBlue;

	&__text-content {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		padding-top: 88px;

		@mixin atMedium {
			padding-top: 60px;

		}
	}

	&__image {
		display: block;
	}

	&__title {
		font-weight: 300;
		color: $mainBlue;
		font-size: 2.4rem;
		margin: 0;

		@mixin atSmall {
			font-size: 4.8rem;
		}
	}

	&__subtitle {
		font-weight: 300;
		color: $mainBlue;
		font-size: 1.5rem;
		margin: 0;

		@mixin atSmall {
			font-size: 2.9rem;
		}

	}

	&__msg {
		color: #fff;
		font-size: 1.1rem;
		max-width: 295px;
		font-weight: 100;
		margin-left: auto;
		margin-right: auto;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);

		@mixin atSmall {
			font-size: 1.8rem;
			max-width: 480px;
		}
	}
}
