.page-section {
	padding: 1.1rem 0;
	
	@mixin atMedium {
		padding: 4.5rem 0;
	}

	&--blue {
		background-color: $mainBlue;
		color: #fff;
	}

	&--testemonials {
		background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
		background-size: cover;

	}
}  