.page-section {

	padding: 1.1rem 0;
	@mixin atMedium {
		padding: 4.5rem 0;
	}

	&--blue {
		background-color: $mainBlue;
		color: #fff;
	}

	&--testemonials {
		background-color: #e0e6ef;
		@mixin atLarge {
			&.lazyloaded { /*apenas elementos que tambem tenham .lazyloaded*/
				background: url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
				background-size: cover;
			}
		}
	}

	&--no-b-padding-until-medium {
		padding-bottom: 0;

			@mixin atMedium {
			padding: 4.5rem 0;
			}
	}

	&--no-b-padding-until-large {
		padding-bottom: 0;

			@mixin atLarge {
			padding: 4.5rem 0;
			}
	}
}  