.row {

		@mixin clearFix;

	&--gutters > div {
		padding-right: 65px;
		/* Esse padding, faz o sistema 
		de 12 colunas exceder e quebrar o conteudo.
		Precisamos aplicar box-sizing: border-box;
		(Obs: box-sizing pode está na _global.css)
		*/
	} 
	&--gutters {
		margin-right: -65px;
		/* desconta o padding para o conteudo ir ate o fim da DIV*/
	}
	&--gutters-large > div {
		padding-right: 100px;
	}
	&--gutters-large {
		margin-right: -100px;
	}
	&--gutters-small > div {
		padding-right: 45px;
	}
	&--gutters-small {
		margin-right: -45px;
	}

	&__b-margin-xs-sm {
		margin-bottom: 1rem;
	}
	&--t-padding {
		padding-top: 80px;
	}

		@mixin atMedium {
		/*
			Usando o esquema das 12 colunas
		*/
			&__b-margin-xs-sm {
			margin-bottom: 0rem;
			}

			&__medium-4 {
			float: left;
			width: 33.33%;  
			}

			&__medium-4-larger {
			width: 37%;
			}

			&__medium-6 {
				float: left;
				width: 50%;
				

			}

			&__medium-8 {
			float: left;
			width: 66.66%;
			/*
			 Float tira o elemento do fluxo normal.
			 Parent elements desconsideram eles.
			 É necessario fazer clearfix
			*/
			}

			&__medium-8-smaller {
			width: 63%;
			}

}

		@mixin atLarge {
				/*
					Usando o esquema das 12 colunas
				*/
					&__b-margin-until-large {
					margin-bottom: 0rem;
					}

					&__large-4 {
					float: left;
					width: 33.33%;  
					}

					&__large-4-larger {
					width: 37%;
					} 

					&__large-6 {
						float: left;
						width: 50%;
						

					}

					&__large-8 {
					float: left;
					width: 66.66%;
					/*
					 Float tira o elemento do fluxo normal.
					 Parent elements desconsideram eles.
					 É necessario fazer clearfix
					*/
					}

					&__large-8-smaller {
					width: 63%;
					}

		}


/* Being Equal Height Rules*/
&--equal-height-at-medium {
	@mixin atMedium {
		display: flex;
	}
	& > div {
		float: none;
		display: flex;
	}
}

&--equal-height-at-large {
	@mixin atLarge {
		display: flex;
	}
	& > div {
		float: none;
		display: flex;
	}
}

}