.section-title {
	font-size: 2.75rem;
	font-weight: 300;
	text-align: center;
	margin-bottom: 3.6rem;
	@mixin atSmall {
		font-size: 3.75rem;
	}

	strong {
		font-weight: 800;
	}

	&--blue {
		color: $mainBlue;
	}
	
	&__icon {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .6rem;
	/*ml e mr para centralizar*/
			@mixin atSmall {
		margin-right: .5rem;
		display: inline-block;
		/*margin-left: 0;*/
		margin-bottom: 0;
		position: relative;
		top: 8px;
		}
	}	

		

}