.site-header {
	position: absolute; /*Usando absolute, o elemento encolhe para o minimo possivel*/
	width:100%;
	z-index: 2;
	
	padding: 10px 0;
		@mixin atMedium{
		background-color: rgba($mainBlue, .3); /*Usando PostCSS-hexrgba*/
		}


&__btn-container {
	float: right;
}

&__menu-content {
	display: none;

	@mixin atMedium {
		display: block;
	}
}

&__logo {
	position: absolute;
	top:0;
	left: 50%; /*Para anular= left: auto;*/
	transform: translateX(-50%) scale(.8) ; /*Para anular= transform: translateX(0)*/
	transform-origin: 50% 0%; 
	background-color: $mainBlue;
	padding: 25px 36px;

	 @mixin atMedium {

	 left: auto; /*Para anular o responsive*/
	 transform: translateX(0); /*Para anular o responsive*/
	 }
}
&__logo__title {
	text-indent: -999999px;
}
&__menu-icon {
	width: 25px;
	height: 25px;
	background-color: #fff;
	position: absolute;
	top: 10px;
	right: 10px;

	@mixin atMedium {
		display: none;
	}
}

}